<div class="container">
    <div class="row">
        <p>Parent works!</p>
<div class="col-6">

    <div class="card">
        <img src="../../../assets/images/laptop.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Laptop</h5>
          
          <a routerLink="/product/laptop" class="btn btn-primary">Select Product</a>
        </div>
      </div>
</div>
<div class="col-6">

    <div class="card">
        <img src="../../../assets/images/mobile.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mobile</h5>

          <a routerLink="/product/mobile" class="btn btn-primary">Select Product</a>
        </div>
      </div>
</div>

<div class="col-12">
   <h2>select any product</h2>
   <h4>{{selectedProduct}}</h4>
 <button>Add to cart</button>
</div>
    </div>
</div>


