<div><div class="title1 section-t-space"><h4>special offer</h4> <h2 class="title-inner1">top collection</h2></div> <div class="container"><div class="row"><div class="col-lg-6 offset-lg-3"><div class="product-para"><p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s.</p></div></div></div></div>


<div class="container">
<div class="row">
<div class="col-sm-4">
<div class="image-box"><img src="../assets/images/offer01.jpg" alt="" class="img-fluid"></div>
<div class="product-detail"><div class="rating"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div> <a href="/multikart/product/sidebar/1" class=""><h6>trim dress</h6></a> <h4>
    $87.00
    <del>$145.00</del></h4> </div>
</div>

</div>

</div>




