<div class="container">
    <div class="row">
        <p>product works!</p>
<div class="col-3">

    <div class="card">
        <img src="../../../assets/images/laptop.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Laptop</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="/product/laptop" class="btn btn-primary">Laptop</a>
        </div>
      </div>
</div>
<div class="col-3">

    <div class="card">
        <img src="../../../assets/images/mobile.gif" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mobile</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a routerLink="/product/mobile" class="btn btn-primary">Mobile</a>
        </div>
      </div>
</div>
<div class="col-6">

    <router-outlet></router-outlet>
</div>

    </div>
</div>


